name: Deploy Zabbix Stack to EKS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Ansible and dependencies
        run: |
          pip install ansible kubernetes
          ansible-galaxy collection install kubernetes.core

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig for EKS
        run: aws eks update-kubeconfig --region us-east-1 --name zabbix-eks

      - name: Run Ansible playbook (prod)
        run: ansible-playbook -i inventories/prod/hosts deploy-zabbix-eks.yml
